/*-=[ COR DO MENU : alterar o heximadecimal "#000000" ]=-*/
.corMenu{color:#673330;}
/*-= [BACKGROUND DO TiTULO : alterar o heximadecimal "#000000" ]=-*/
.bgTitulo{background:#673330!important;}
.fotos .bgTitulo{background:rgba(103,50,50,.7)!important;}
/*-= [BACKGROUND DO CONTEUDO : alterar o heximadecimal "#000000" ]=-*/
.bgConteudo{background:rgba(103,50,50,.1)!important;}
/*-=[ COR DO titulo : alterar o heximadecimal "#FFFFFF" ]=-*/
.corTitulo{color:#e89f17!important;}
.blog h2{color:#673330!important;}
.texto h2{color:#673330!important;}
/*-=[ COR DO TEXTO : alterar o heximadecimal "#FFFFFF" ]=-*/
.corTexto{color:#000000!important;}
/*-= [BACKGROUND DA NAVAGACAO SLIDE : alterar o heximadecimal "#000000" ]=-*/
.bx-wrapper .bx-pager.bx-default-pager a{background:#673330!important;}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active{background:#e89f17!important;}
.bx-wrapper .tituloDest{background:rgba(103,50,50,.7)!important;}
/*-=[ COR DA BORDA : alterar o heximadecimal "#FFFFFF" ]=-*/
.corBorda{border-color:#e89f17!important;}
.texto{border-color:#e89f17!important }

/*-= [BACKGROUND DO ICONE : alterar o heximadecimal "#000000" ]=-*/
.ampliar{background-color:rgba(103,50,50,.7)!important;}
/*-= [BACKGROUND DO BOTAO : alterar o heximadecimal "#000000" ]=-*/
form input[type=submit]{background:#673330!important; color:#e89f17!important;}
