<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>E-mail</title>
	<style type="text/css">
		*{margin:0; padding:0; border: 0;}
		td a{color:#000;}
	</style>
</head>
<body style="font-family:Arial, Tahoma; width: 550px; margin:0 auto; background:#000;">
	<table style="width:435px;" cellpadding="0" cellspacing="0">
		<thead style="width:100%; height:100px; background-image:url(http://www.tigurio.com.br/cliente/eventoTop/site/img/mail/bgTopo.jpg); background-position: center bottom; background-repeat:no-repeat;">
			<tr>
				<td style="text-align:center;"><a href="http://www.meueventotop.com.br"><img src="http://www.tigurio.com.br/cliente/eventoTop/site/img/mail/marca.png"></a></td>
			</tr>
		</thead>
		<tbody style="widht:100%; height:auto; background-image:url(http://www.tigurio.com.br/cliente/eventoTop/site/img/mail/bgMiolo.jpg); background-repeat: repeat-y; background-position:top center;">
			<tr>
				<td style="font-size:18px; color:#000; padding:15px 40px;">Cadastro realizado com sucesso.</td>
			</tr>
			<tr>
				<td style="font-size:12px; color:#000; padding:15px 40px;">Olá Bruno Simon.</td>
			</tr>
			<tr>
				<td style="font-size:12px; color:#000; padding:15px 40px;">Seu cadastro foi efetuado no Meu Evento Top.</td>
			</tr>
			<tr>
				<td style="font-size:14px; color:#866f01; padding:0px 40px;">Confirme seu cadastro clickando no link abaixo ou se preferir, copie e cole no seu navegador.</td>
			</tr>
			<tr>
				<td style="font-weight:bold; font-size:14px; padding:45px 40px;"><a href="" >http://www.meueventotop.com.br/cadastro?userId=1234567890</a></td>
			</tr>
			<tr><td></td></tr>
			<tr>
				<td style="font-weight:bold; font-size:12px; padding:15px 40px;">Somente após a confirmação você passará a ser informado por e-mail sobre novidades, promocões e notícias do nosso site.</td>
			</tr>
		</tbody>
		<tfoot style="width:100%; height:55px; background-image:url(http://www.tigurio.com.br/cliente/eventoTop/site/img/mail/bgBase.jpg); background-position: center bottom; background-repeat:no-repeat;">
			<tr style="width:100%; height:55px;"><td></td></tr>
		</tfoot>
	</table>
</body>
</html>