<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Meu Evento Top: Fornecedor X</title>
<link rel="stylesheet" type="text/css" href="../../../css/stylesheet.css"/>
<link rel="stylesheet" type="text/css" href="../../../css/layout01.css"/>
    
<!-- jQuery library (served from Google) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="../../../js/jquery.fancybox-1.3.4.js"></script>
<script type="text/javascript" src="../../../js/jquery.mousewheel-3.0.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="../../../css/jquery.fancybox-1.3.4.css" media="screen" />
<script type="text/javascript">
    $(document).ready(function(){
        $(".servProd").fancybox({
        'width'             : '75%',
        'height'            : '75%',
        'autoScale'         : false,
        'transitionIn'      : 'none',
        'transitionOut'     : 'none',
        'type'              : 'iframe'
    });  
    });
</script>
</head>

<body class="layout03">
<div id="barraMet">
	<div class="center">
        <div class="marcaMetBar"><img src="../../../img/marcaMetBar.png" alt="Meu Evento Top" /></div>
        <ul>
            <li><a href="" title="">Seja um parceiro</a></li>
            <li><a href="" title="">Anuncie</a></li>
            <li><a href="" title="">Contato</a></li>
            <li><a href="" title="">Fornecedores</a></li>
            <li><a href="" title="">Monte seu evento</a></li>
        </ul>
    </div>
</div>

<div id="geral">
        
	<div class="destaqueFornecedor">
		<div class="wrapDestFornecedor"
    		<figure>
            	<img src="img/teste970x250.jpg" alt="" />
            </figure>
            <div class="marcaFornecedor">
		    	<div class="boxMarca">
				    <img src="img/marca140pxAltura.jpg" alt="" />
		        </div>
		    </div>
		</div>
    </div>


    <div class="conteudo">

	    <div class="menuFornecedor bgMenu corBorda floatLeft">
	        <ul>
	            <li><a href="sobre.html" title="" class="corMenu">A Empresa</a></li>
	            <li><a href="pagProdutos.html" title="" class="corMenu">Produtos</a></li>
	            <li><a href="pagServicos.html" title="" class="corMenu">Serviços</a></li>
	            <li><a href="pagFotos.html" title="" class="corMenu">Fotos</a></li>
	            <li><a href="blog.html" title="" class="corMenu">Blog</a></li>
	            <li><a href="pagMapa.html" title="" class="corMenu">Localização</a></li>
	            <li><a href="contato.html" title="" class="corMenu">Fale conosco</a></li>
	        </ul>
		</div>


		<div class="context floatRight">

			<div class="texto">
				<h2>Produtos / Serviços</h2>
                
                <div class="fotos">
                    <div class="grupoFts">
                        <figure class="floatLeft margin15px">
                            <a class="servProd" href="servProd/info.html">
                            <img src="img/teste105x105thumbGaleria.jpg" alt="" />	                    
                            <div class="tituloServProd bgTitulo corTitulo">Aqui entra o título</div>
                            </a>
                        </figure>
                        <figure class="floatLeft margin15px">
                            <a class="servProd" href="servProd/info.html">
                            <img src="img/teste105x105thumbGaleria.jpg" alt="" />
                            <div class="tituloServProd bgTitulo corTitulo">Aqui entra o título</div>
                            </a>
                        </figure>
                        <figure class="floatLeft margin15px">
                            <a class="servProd" href="servProd/info.html">
                            <img src="img/teste105x105thumbGaleria.jpg" alt="" />
                            <div class="tituloServProd bgTitulo corTitulo">Aqui entra o título</div>
                            </a>
                        </figure>
                        <figure class="floatLeft margin15px">
                            <a class="servProd" href="servProd/info.html">
                            <img src="img/teste105x105thumbGaleria.jpg" alt="" />
                            <div class="tituloServProd bgTitulo corTitulo">Aqui entra o título</div>
                            </a>
                        </figure>
                        <figure class="floatLeft margin15px">
                            <a class="servProd" href="servProd/info.html">
                            <img src="img/teste105x105thumbGaleria.jpg" alt="" />
                            <div class="tituloServProd bgTitulo corTitulo">Aqui entra o título</div>
                            </a>
                        </figure>
                        <figure class="floatLeft margin15px">
                            <a class="servProd" href="servProd/info.html">
                            <img src="img/teste105x105thumbGaleria.jpg" alt="" />
                            <div class="tituloServProd bgTitulo corTitulo">Aqui entra o título</div>
                            </a>
                        </figure>
                        <figure class="floatLeft margin15px">
                            <a class="servProd" href="servProd/info.html">
                            <img src="img/teste105x105thumbGaleria.jpg" alt="" />
                            <div class="tituloServProd bgTitulo corTitulo">Aqui entra o título</div>
                            </a>
                        </figure>
                        <figure class="floatLeft margin15px">
                            <a class="servProd" href="servProd/info.html">
                            <img src="img/teste105x105thumbGaleria.jpg" alt="" />
                            <div class="tituloServProd bgTitulo corTitulo">Aqui entra o título</div>
                            </a>
                        </figure>
                        <figure class="floatLeft margin15px">
                            <a class="servProd" href="servProd/info.html">
                            <img src="img/teste105x105thumbGaleria.jpg" alt="" />
                            <div class="tituloServProd bgTitulo corTitulo">Aqui entra o título</div>
                            </a>
                        </figure>
                        <figure class="floatLeft margin15px">
                            <a class="servProd" href="servProd/info.html">
                            <img src="img/teste105x105thumbGaleria.jpg" alt="" />
                            <div class="tituloServProd bgTitulo corTitulo">Aqui entra o título</div>
                            </a>
                        </figure>
                    </div>
                </div>

			</div>
			
			<div id="rodapeMet" class="corBorda">
				<address>
			    	<span class="sprite endereco floatLeft"></span>
			        <p><b>Endereço</b></p>
			        <p>Rua Cicrano da Silva Santos, 407, Caminho das Árvores - Salvador - Bahia</p>
			    </address>
			    <div class="share">
			    	<span class="sprite twitter floatLeft">twitter</span>
			        <span class="sprite pinterest floatLeft">pinterest</span>
			        <span class="sprite facebook floatLeft">facebook</span>
			        <span class="sprite google floatLeft">google</span>
			    </div>
                
                <blockquote>
    				<div class="contatos">
				    	<span class="sprite telefone floatLeft"></span>
				        <p><b>Telefone</b></p>
				        <p>(71) 3456-7890 / 9876-5432</p>
				    </div>
				    <div class="contatos">
				    	<span class="sprite email floatLeft"></span>
				        <p><b>E-mail</b></p>
				        <p>falecom@meusite.com.br</p>
				    </div>
				    <div class="contatos">
				    	<span class="sprite funcionamento floatLeft"></span>
				        <p><b>Horário de funcionamento</b></p>
				        <p>Segunda a sexta, das 8h as 18h.</p>
				    </div>
                </blockquote>
			</div>

		</div>
	</div>
</div>
</body>
</html>
