<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Meu Evento Top: Fornecedor X</title>
<link rel="stylesheet" type="text/css" href="../../../css/stylesheet.css"/>

	<style type="text/css">
		/*-=[ COR DO MENU : alterar o heximadecimal "#000000" ]=-*/
		.corMenu{color:#000000;}
		/*-= [BACKGROUND DO TiTULO : alterar o heximadecimal "#000000" ]=-*/
		.bgTitulo{background-color:#000000;}
		/*-=[ COR DO titulo : alterar o heximadecimal "#FFFFFF" ]=-*/
		.corTitulo{color:#FFFFFF;}
	</style>

<!-- jQuery library (served from Google) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

</head>

<body class="layout02">
<div id="barraMet">
	<div class="center">
        <div class="marcaMetBar"><img src="../../../img/marcaMetBar.png" alt="Meu Evento Top" /></div>
        <ul>
            <li><a href="" title="">Seja um parceiro</a></li>
            <li><a href="" title="">Anuncie</a></li>
            <li><a href="" title="">Contato</a></li>
            <li><a href="" title="">Fornecedores</a></li>
            <li><a href="" title="">Monte seu evento</a></li>
        </ul>
    </div>
</div>

<div id="geral">
	<div class="marcaFornecedor">
    	<div class="boxMarca">
		    <img src="img/marca140pxAltura.jpg" alt="" />
        </div>
    </div>
    
    <div class="conteudo">
    
	    <div class="menuFornecedor">
            <ul>
            	<li><a href="sobre.html" title="" class="corMenu">A Empresa</a></li>
                <li><a href="pagProdutos.html" title="" class="corMenu">Produtos</a></li>
                <li><a href="pagServicos.html" title="" class="corMenu">Serviços</a></li>
                <li><a href="pagFotos.html" title="" class="corMenu">Fotos</a></li>
                <li><a href="blog.html" title="" class="corMenu">Blog</a></li>
                <li><a href="pagMapa.html" title="" class="corMenu">Localização</a></li>
                <li><a href="contato.html" title="" class="corMenu">Fale conosco</a></li>
            </ul>
        </div>
        
    	<div class="context">
        	<p class="tituloPagina corTitulo bgTitulo">blog</p>
        	<!--
            Se apenas página de texto institucional, inserir apenas a class "texto". Ex: <div class="texto">
            Se blog, inserir a class "blog". Ex: <div class="texto blog">            
            -->
            <div class="texto blog">
            	<p class="dataPostagem">7 de setembro de 2013</p>
            	<h2>Título da postagem</h2>
            	<!--
					SE IMAGEM ALINHADA A ESQUERDA, class="floatLeft"
					SE IMAGEM ALINHADA A DIREITA, class="floatRight"
            	-->
                <figure class="floatRight margin10px">
                    <img src="img/testeSobre.jpg" alt="" />
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, suscipit, animi, tenetur non dolores maiores omnis quo minus obcaecati quasi nemo voluptatem deleniti amet incidunt maxime ab eligendi dolore distinctio!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, suscipit, animi, tenetur non dolores maiores omnis quo minus obcaecati quasi nemo voluptatem deleniti amet incidunt maxime ab eligendi dolore distinctio!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, suscipit, animi, tenetur non dolores maiores omnis quo minus obcaecati quasi nemo voluptatem deleniti amet incidunt maxime ab eligendi dolore distinctio!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, suscipit, animi, tenetur non dolores maiores omnis quo minus obcaecati quasi nemo voluptatem deleniti amet incidunt maxime ab eligendi dolore distinctio!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, suscipit, animi, tenetur non dolores maiores omnis quo minus obcaecati quasi nemo voluptatem deleniti amet incidunt maxime ab eligendi dolore distinctio!</p>
                <span class="btnTxtFull">ver completa</span>
            </div>
            
            <div class="texto blog">
            	<p class="dataPostagem">7 de setembro de 2013</p>
            	<h2>Título da postagem</h2>
                <figure class="floatLeft margin10px">
                    <img src="img/testeSobre.jpg" alt="" />
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, suscipit, animi, tenetur non dolores maiores omnis quo minus obcaecati quasi nemo voluptatem deleniti amet incidunt maxime ab eligendi dolore distinctio!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, suscipit, animi, tenetur non dolores maiores omnis quo minus obcaecati quasi nemo voluptatem deleniti amet incidunt maxime ab eligendi dolore distinctio!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, suscipit, animi, tenetur non dolores maiores omnis quo minus obcaecati quasi nemo voluptatem deleniti amet incidunt maxime ab eligendi dolore distinctio!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, suscipit, animi, tenetur non dolores maiores omnis quo minus obcaecati quasi nemo voluptatem deleniti amet incidunt maxime ab eligendi dolore distinctio!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, suscipit, animi, tenetur non dolores maiores omnis quo minus obcaecati quasi nemo voluptatem deleniti amet incidunt maxime ab eligendi dolore distinctio!</p>
            </div>
            
            <div class="texto blog">
            	<p class="dataPostagem">7 de setembro de 2013</p>
            	<h2>Título da postagem</h2>
                <figure class="margin10px">
                    <img src="img/testeBlog.jpg" alt="" />
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, suscipit, animi, tenetur non dolores maiores omnis quo minus obcaecati quasi nemo voluptatem deleniti amet incidunt maxime ab eligendi dolore distinctio!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, suscipit, animi, tenetur non dolores maiores omnis quo minus obcaecati quasi nemo voluptatem deleniti amet incidunt maxime ab eligendi dolore distinctio!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, suscipit, animi, tenetur non dolores maiores omnis quo minus obcaecati quasi nemo voluptatem deleniti amet incidunt maxime ab eligendi dolore distinctio!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, suscipit, animi, tenetur non dolores maiores omnis quo minus obcaecati quasi nemo voluptatem deleniti amet incidunt maxime ab eligendi dolore distinctio!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, suscipit, animi, tenetur non dolores maiores omnis quo minus obcaecati quasi nemo voluptatem deleniti amet incidunt maxime ab eligendi dolore distinctio!</p>
            </div>
        </div>
    </div>
        
        
    
</div>
<div id="rodapeMet">
	<address>
    	<span class="sprite endereco floatLeft"></span>
        <p><b>Endereço</b></p>
        <p>Rua Cicrano da Silva Santos, 407, Caminho das Árvores - Salvador - Bahia</p>
    </address>
    <div class="share">
    	<span class="sprite twitter floatLeft">twitter</span>
        <span class="sprite pinterest floatLeft">pinterest</span>
        <span class="sprite facebook floatLeft">facebook</span>
        <span class="sprite google floatLeft">google</span>
    </div>
</div>
</body>
</html>
