<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Meu evento Top</title>
    <link rel="stylesheet" href="../../css/home.css">
    <!-- jQuery library (served from Google) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>
<body>
    <div id="barraTopo">
        <nav class="menu">
            <ul>
                <li>sobre</li>
                <li>seja um parceiro</li>
                <li>anuncie</li>
                <li>termos e politica</li>
                <li>contato</li>
                <li>fornecedores</li>
            </ul>
        </nav>
        <div class="monteEvento">
            monte seu evento
            <div class="tiposEventos">
                <span class="tituloTipoEvento">tipo de evento</span>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>

    <!--[/] #barraTopo-->

    <div id="topoSite">
        <div class="marca"><figure><img src="../../img/marcaMetPrincipal.png" /></figure></div>
        <div class="busca">
            <div class="buscaAvancada">
                <span class="tituloArea">busca avançada</span>
                <div class="filtrosBusca"></div>
            </div>
            <div class="localizacao">
                <span class="localizacao">
                    Você está em <span class="cidadeAtual">Salvador</span> <span class="mudarCidade">[ mudar de cidade ]</span>
                </span>
            </div>
            <form action="">
                <input type="text" name="" id="" placeholder="O que você procura?">
                <input type="submit" value="">
            </form>
        </div>
        <div class="areaLogin">
            <!--<div class="logar">
                <div class="logarFacebook"></div>
            </div>-->
            <div class="logado">
                <figure><img src="http://www.placehold.it/40x40" alt="" /></figure>
                <span class="nomeUser">Nome Usuário</span>
                <div class="profile">
                    <span>Minha conta</span>
                    <div class="menuUser"></div>
                </div>
            </div>
            <div class="carrinho">
                <span class="qtde">2</span>
            </div>

        </div>
    </div>

    <!--[/] #topoSite-->

    <div id="bannerDestaque"><figure><img src="../../img/destaqueSite.jpg" /></figure></div>

    <!--[/] #bannerDestaque-->

    <div id="conteudoSite">
        <aside id="conteudoPrinc">

            <div class="publicidade superbanner"><img src="http://www.placehold.it/728x90&text=publicidade" /></div>

            <aside class="col_2-3 floatLeft marginR-20px">
                <aside class="notDest">
                    <div class="col_1-3 floatLeft marginR-20px">
                        <figure><img src="http://www.placehold.it/300x225" alt="" /></figure>
                        <p class="titNot-destaque">
                            Exposição destaca herança africana no Brasil
                        </p>
                        <p class="resumoNot-destaque">
                            Nesta terça-feira, 5, às 19 horas, a Caixa Cultural (Centro) promove a abertura da exposição Marcas da Alma: Uma Viagem Pela Cultura Afro-brasileira.
                        </p>
                    </div>
                    <div class="col_1-3 floatLeft">
                        <div class="boxNoticia">
                            <figure><img src="http://www.placehold.it/80x60" alt="" /></figure>
                            <p class="titNot-outras">Aqui entra o título da notícia cadastrada.</p>
                        </div>
                        <div class="boxNoticia">
                            <figure><img src="http://www.placehold.it/80x60" alt="" /></figure>
                            <p class="titNot-outras">Aqui entra o título da notícia cadastrada.</p>
                        </div>
                        <div class="boxNoticia">
                            <figure><img src="http://www.placehold.it/80x60" alt="" /></figure>
                            <p class="titNot-outras">Aqui entra o título da notícia cadastrada.</p>
                        </div>
                        <div class="boxNoticia">
                            <figure><img src="http://www.placehold.it/80x60" alt="" /></figure>
                            <p class="titNot-outras">Aqui entra o título da notícia cadastrada.</p>
                        </div>
                        <div class="boxNoticia">
                            <figure><img src="http://www.placehold.it/80x60" alt="" /></figure>
                            <p class="titNot-outras">Aqui entra o título da notícia cadastrada.</p>
                        </div>
                    </div>
                </aside>
                <aside class="fornecedores col_2-3 clear">
                    <h2 class="titSessao clear"><span class="bullet"></span>fornecedores</h2>
                    <article class="fornecDestaque">
                        <div class="boxFornecedor marginR-20px">
                            <p class="categoria">Categoria</p>
                            <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                            <p class="nome">Nome do Fornecedor</p>
                            <p class="telefone">(DDD) 0000-0000</p>
                            <p class="local">Bairro</p>
                            <p class="cidade">Cidade</p>
                        </div>
                        <div class="boxFornecedor marginR-20px">
                            <p class="categoria">Categoria</p>
                            <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                            <p class="nome">Nome do Fornecedor</p>
                            <p class="telefone">(DDD) 0000-0000</p>
                            <p class="local">Bairro</p>
                            <p class="cidade">Cidade</p>
                        </div>
                        <div class="boxFornecedor marginR-20px">
                            <p class="categoria">Categoria</p>
                            <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                            <p class="nome">Nome do Fornecedor</p>
                            <p class="telefone">(DDD) 0000-0000</p>
                            <p class="local">Bairro</p>
                            <p class="cidade">Cidade</p>
                        </div>
                        <div class="boxFornecedor">
                            <p class="categoria">Categoria</p>
                            <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                            <p class="nome">Nome do Fornecedor</p>
                            <p class="telefone">(DDD) 0000-0000</p>
                            <p class="local">Bairro</p>
                            <p class="cidade">Cidade</p>
                        </div>
                    </article>
                    <article class="col_2-3 clear">
                        <ul class="floatLeft">
                            <li><span>categoria</span><span class="qtde floatRight">20</span></li>
                            <li><span>categoria</span><span class="qtde floatRight">20</span></li>
                            <li><span>categoria</span><span class="qtde floatRight">20</span></li>
                            <li><span>categoria</span><span class="qtde floatRight">20</span></li>
                        </ul>
                        <ul class="floatRight">
                            <li><span>categoria</span><span class="qtde floatRight">20</span></li>
                            <li><span>categoria</span><span class="qtde floatRight">20</span></li>
                            <li><span>categoria</span><span class="qtde floatRight">20</span></li>
                            <li><span>categoria</span><span class="qtde floatRight">20</span></li>
                        </ul>
                    </article>
                </aside>
                <aside id="shopping" class="clear">
                    <h2 class="titSessao clear"><span class="bullet"></span>shopping</h2>
                    <div class="categProdutos"></div>

                    <div class="clear"></div>

                    <article class="boxShopping">
                        <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                        <p class="nomeProduto">Nome do Produto</p>
                        <p class="nomeFornecedor">Fornecedor</p>
                        <p class="preco consulte">Consulte preço</p>
                    </article>
                    <article class="boxShopping">
                        <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                        <p class="nomeProduto">Nome do Produto</p>
                        <p class="nomeFornecedor">Fornecedor</p>
                        <p class="preco">
                            <span class="precoDe">De R$ 0,00</span>
                            <span class="precoPor">Por R$ 0,00</span>
                        </p>
                    </article>
                    <article class="boxShopping">
                        <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                        <p class="nomeProduto">Nome do Produto</p>
                        <p class="nomeFornecedor">Fornecedor</p>
                        <p class="preco">
                            <span class="precoDe">De R$ 0,00</span>
                            <span class="precoPor">Por R$ 0,00</span>
                        </p>
                    </article>
                    <article class="boxShopping">
                        <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                        <p class="nomeProduto">Nome do Produto</p>
                        <p class="nomeFornecedor">Fornecedor</p>
                        <p class="preco consulte">Consulte preço</p>
                    </article>
                    <article class="boxShopping">
                        <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                        <p class="nomeProduto">Nome do Produto</p>
                        <p class="nomeFornecedor">Fornecedor</p>
                        <p class="preco consulte">Consulte preço</p>
                    </article>
                    <article class="boxShopping">
                        <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                        <p class="nomeProduto">Nome do Produto</p>
                        <p class="nomeFornecedor">Fornecedor</p>
                        <p class="preco">
                            <span class="precoDe">De R$ 0,00</span>
                            <span class="precoPor">Por R$ 0,00</span>
                        </p>
                    </article>
                    <article class="boxShopping">
                        <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                        <p class="nomeProduto">Nome do Produto</p>
                        <p class="nomeFornecedor">Fornecedor</p>
                        <p class="preco">
                            <span class="precoDe">De R$ 0,00</span>
                            <span class="precoPor">Por R$ 0,00</span>
                        </p>
                    </article>
                    <article class="boxShopping">
                        <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                        <p class="nomeProduto">Nome do Produto</p>
                        <p class="nomeFornecedor">Fornecedor</p>
                        <p class="preco consulte">Consulte preço</p>
                    </article>
                </aside>
            </aside>
            <aside class="col_1-3 floatLeft">
                <article id="eventos">
                    <figure><img src="http://www.placehold.it/300x225" alt="" /></figure>
                    <div class="infoEvento">
                        <p class="nomeEvento">Nome do Evento</p>
                        <p class="localEvento">
                            <b>Local: Endereço do evento</b>
                        </p>
                        <p class="dataEvento">
                            <b>Data: 00 de mês de 0000</b>
                        </p>
                    </div>

                </article>
                <div class="publicidade square col_1-3"><img src="http://www.placehold.it/300x250&text=publicidade" alt="" /></div>
                <article class="enquete"></article>
                <article class="tempoLocal"></article>
                <article class="redeSocial"></article>
            </aside>
        </aside>

        <aside id="sidebar" class=" floatRight">
            <div class="produtos">
                <h2 class="titSessao clear"><span class="bullet"></span>produtos</h2>
                <div class="boxProdutos">
                    <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                    <p class="nomeProduto">Nome do Produto</p>
                    <p class="preco">
                        <span class="precoDe">De R$ 0,00</span>
                        <span class="precoPor">Por R$ 0,00</span>
                    </p>
                </div>
                <div class="boxProdutos">
                    <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                    <p class="nomeProduto">Nome do Produto</p>
                    <p class="preco">
                        <span class="precoDe">De R$ 0,00</span>
                        <span class="precoPor">Por R$ 0,00</span>
                    </p>
                </div>
                <div class="boxProdutos">
                    <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                    <p class="nomeProduto">Nome do Produto</p>
                    <p class="preco">
                        <span class="precoDe">De R$ 0,00</span>
                        <span class="precoPor">Por R$ 0,00</span>
                    </p>
                </div>
                <div class="boxProdutos">
                    <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                    <p class="nomeProduto">Nome do Produto</p>
                    <p class="preco">
                        <span class="precoDe">De R$ 0,00</span>
                        <span class="precoPor">Por R$ 0,00</span>
                    </p>
                </div>
                <div class="boxProdutos">
                    <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                    <p class="nomeProduto">Nome do Produto</p>
                    <p class="preco">
                        <span class="precoDe">De R$ 0,00</span>
                        <span class="precoPor">Por R$ 0,00</span>
                    </p>
                </div>
            </div>

            <div class="publicidade skyscrapper"><img src="http://www.placehold.it/150x400&text=publicidade" alt="" /></div>

        </aside>
        <div class="pagamento">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="secure"></div>
        </div>
    </div>

    <!--[/] #conteudoPrinc-->

    <div id="rodapeMet">

        <div class="topoRodape">
             <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="extras">
            <div class="contRodape">
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.boxShopping:even').addClass('marginR-20px')
    })

</script>
</body>
</html>