<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Meu Evento Top</title>

<style type="text/css">
body{background-image:url(teaser.jpg); background-size:cover; width:100%; height:100%;}
.marca{ width:350px; height:250px; margin-left:-175px; margin-top:-125px; position:absolute; left:50%; top:50%;  text-align:center;}
p{font-family:Tahoma, Geneva, sans-serif; font-size:24px; color:#CC0;}

</style>

</head>

<body>
<div class="marca">
<img src="marca.png" alt="Marca Meu Evento Top" title="Meu Evento Top ::  Aguardem." />
<p>Aguardem!</p>
</div>
</body>
</html>
