<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta property="fb:admins" content="{YOUR_FACEBOOK_USER_ID}"/>

    <title>Meu evento Top</title>
    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="../../css/sprite.css">
    <!-- jQuery library (served from Google) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,800' rel='stylesheet' type='text/css'>

    <!-- bxSlider Javascript file -->
    <script src="../../js/jquery.bxslider.min.js"></script>
    <!-- bxSlider CSS file -->
    <link href="../../css/jquery.bxslider.css" rel="stylesheet" />

    <!-- scroll Javascript file -->
    <script src="../../js/jquery.tinyscrollbar.min.js" ></script>

    <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "http://connect.facebook.net/pt_BR/all.js#xfbml=1&appId=383900185050325";
		  //js.src = "http://connect.facebook.net/pt_BR/all.js#xfbml=1&appId=ID_DA_CONTA_DO_FACEBOOK";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</head>
<body>
    <div id="barraTopo">
        <nav class="menu">
            <ul>
                <li>sobre</li>
                <li>seja um parceiro</li>
                <li>anuncie</li>
                <li>termos e politica</li>
                <li>contato</li>
                <li>fornecedores</li>
            </ul>
        </nav>
        <div class="monteEvento">
            <span class="itens">monte seu evento</span>
            <div class="tiposEventos">
                <span class="tituloTipoEvento">tipo de evento</span>
               
                        <ul>
                            <li>festas em geral</li>
                            <li>casamentos</li>
                            <li>chás</li>
                            <li>bodas</li>
                            <li>churrasco</li>
                            <li>empresarial</li>
                            <li>formaturas</li>
                            <li>festas em geral</li>
                            <li>casamentos</li>
                            <li>chás</li>
                            <li>bodas</li>
                            <li>churrasco</li>
                            <li>empresarial</li>
                            <li>formaturas</li>
                            <li>festas em geral</li>
                            <li>casamentos</li>
                            <li>chás</li>
                            <li>bodas</li>
                            <li>churrasco</li>
                            <li>empresarial</li>
                            <li>formaturas</li>
                            <li>festas em geral</li>
                            <li>casamentos</li>
                            <li>chás</li>
                            <li>bodas</li>
                            <li>churrasco</li>
                            <li>empresarial</li>
                            <li>formaturas 1</li>
                        </ul>

            </div>
        </div>
    </div>

    <!--[/] #barraTopo-->

    <div id="topoSite">
        <div class="marca"><figure><img src="../../img/marcaMetPrincipal.png" /></figure></div>
        <div class="busca">
            <!--<div class="buscaAvancada">
                <span class="tituloArea">busca avançada</span>
                <div class="filtrosBusca"></div>
            </div>
            <div class="localizacao">
                <span class="localizacao">
                    Você está em <span class="cidadeAtual">Salvador</span> <span class="mudarCidade">[ mudar de cidade ]</span>
                </span>
            </div>-->
            <form action="">
                <input type="text" name="" id="" placeholder="O que você procura?">
                <input type="submit" value="" class="sprite icoBusca">
            </form>
        </div>
        <div class="areaLogin">
            <!--<div class="logar">
                <div class="logarFacebook"></div>
            </div>-->
            <div class="logado">
                <figure><span class="sprite gravatar"></span><!--<img src="http://www.placehold.it/40x40" alt="" />--></figure>
                <span class="nomeUser">Nome Usuário</span>
                <div class="profile">
                    <span>Minha conta</span>
                    <div class="menuUser"></div>
                </div>
            </div>
            <div class="carrinho sprite cestaCarrinho">
                <span class="qtde">0</span>
            </div>

        </div>
    </div>

    <!--[/] #topoSite-->

    <div id="bannerDestaque_interno"><figure><img src="http://www.placehold.it/1140x150" /></figure></div>

    <!--[/] #bannerDestaque-->



    <div id="conteudoSite">
        <aside id="conteudoPrinc">



            <aside class="col_2-3 floatLeft marginR-20px">
            
            	<article class="institucional">
            
                    <h3>A empresa</h3>
                
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, doloremque, maxime, doloribus optio quia debitis nemo rerum dolor saepe adipisci maiores nobis! Quae, doloribus mollitia dignissimos repellat beatae dolores dicta.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, doloremque, maxime, doloribus optio quia debitis nemo rerum dolor saepe adipisci maiores nobis! Quae, doloribus mollitia dignissimos repellat beatae dolores dicta.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, doloremque, maxime, doloribus optio quia debitis nemo rerum dolor saepe adipisci maiores nobis! Quae, doloribus mollitia dignissimos repellat beatae dolores dicta.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, doloremque, maxime, doloribus optio quia debitis nemo rerum dolor saepe adipisci maiores nobis! Quae, doloribus mollitia dignissimos repellat beatae dolores dicta.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, doloremque, maxime, doloribus optio quia debitis nemo rerum dolor saepe adipisci maiores nobis! Quae, doloribus mollitia dignissimos repellat beatae dolores dicta.</p>
                
                </article>

            </aside>
            <aside class="col_1-3 floatLeft">

                <aside id="eventos" class="marginT-20px">
                    <article class="listaEventos">
                        <figure><img src="http://www.placehold.it/300x225" alt="" /></figure>
                        <div class="infoEvento">
                            <p class="nomeEvento">Nome do Evento</p>
                            <p class="localEvento">
                                <b>Local: Endereço do evento</b>
                            </p>
                            <p class="dataEvento">
                                <b>Data: 00 de mês de 0000</b>
                            </p>
                        </div>
                    </article>
                    <!--[slide 2]-->
                    <article class="listaEventos">
                        <figure><img src="http://www.placehold.it/300x225" alt="" /></figure>
                        <div class="infoEvento">
                            <p class="nomeEvento">Nome do Evento</p>
                            <p class="localEvento">
                                <b>Local: Endereço do evento</b>
                            </p>
                            <p class="dataEvento">
                                <b>Data: 00 de mês de 0000</b>
                            </p>
                        </div>
                    </article>
                    <!--[slide 3]-->
                    <article class="listaEventos">
                        <figure><img src="http://www.placehold.it/300x225" alt="" /></figure>
                        <div class="infoEvento">
                            <p class="nomeEvento">Nome do Evento</p>
                            <p class="localEvento">
                                <b>Local: Endereço do evento</b>
                            </p>
                            <p class="dataEvento">
                                <b>Data: 00 de mês de 0000</b>
                            </p>
                        </div>
                    </article>
                </aside>

                <aside class="outrasNot">
                    <h3>outras notícias</h3>

                    <div class="boxNoticia">
                        <figure><img src="http://www.placehold.it/80x60" alt="" /></figure>
                        <p class="titNot-outras">Aqui entra o título da notícia cadastrada.</p>
                    </div>
                    <div class="boxNoticia">
                        <figure><img src="http://www.placehold.it/80x60" alt="" /></figure>
                        <p class="titNot-outras">Aqui entra o título da notícia cadastrada.</p>
                    </div>
                    <div class="boxNoticia">
                        <figure><img src="http://www.placehold.it/80x60" alt="" /></figure>
                        <p class="titNot-outras">Aqui entra o título da notícia cadastrada.</p>
                    </div>
                    <div class="boxNoticia">
                        <figure><img src="http://www.placehold.it/80x60" alt="" /></figure>
                        <p class="titNot-outras">Aqui entra o título da notícia cadastrada.</p>
                    </div>
                    <div class="boxNoticia">
                        <figure><img src="http://www.placehold.it/80x60" alt="" /></figure>
                        <p class="titNot-outras">Aqui entra o título da notícia cadastrada.</p>
                    </div>
                </aside>


                <div class="publicidade square col_1-3"><img src="http://www.placehold.it/300x250&text=publicidade" alt="" /></div>

                <!--<article class="galeria">
                	<h3>galeria de fotos</h3>
                	<div class="boxFotos">
                        <figure><img src="http://www.placehold.it/190x145" alt="" /></figure>
                        <figure class="smallFto"><img src="http://www.placehold.it/95x95" alt="" /></figure>
                    </div>
                    <p class="titGaleria">Aqui entra o título da galeria</p>
                </article>-->


                <article class="redeSocial">
                    <div id="fb-root"></div>

                    <div class="fb-like-box" data-href="http://www.facebook.com/quitutesdasereia" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-width="300" data-show-border="false"></div>
                </article>
            </aside>
        </aside>

        <aside id="sidebar" class=" floatRight">
            <div class="produtos">
                <h2 class="titSessao clear"><span class="bullet"></span>produtos</h2>
                <div class="boxProdutos">
                    <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                    <p class="nomeProduto">Nome do Produto</p>
                    <p class="preco">
                        <span class="precoDe">De R$ 0,00</span>
                        <span class="precoPor">Por R$ 0,00</span>
                    </p>
                </div>
                <div class="boxProdutos">
                    <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                    <p class="nomeProduto">Nome do Produto</p>
                    <p class="preco">
                        <span class="precoDe">De R$ 0,00</span>
                        <span class="precoPor">Por R$ 0,00</span>
                    </p>
                </div>
                <div class="boxProdutos">
                    <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                    <p class="nomeProduto">Nome do Produto</p>
                    <p class="preco">
                        <span class="precoDe">De R$ 0,00</span>
                        <span class="precoPor">Por R$ 0,00</span>
                    </p>
                </div>
                <div class="boxProdutos">
                    <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                    <p class="nomeProduto">Nome do Produto</p>
                    <p class="preco">
                        <span class="precoDe">De R$ 0,00</span>
                        <span class="precoPor">Por R$ 0,00</span>
                    </p>
                </div>
                <div class="boxProdutos">
                    <figure><img src="http://www.placehold.it/140x104" alt="" /></figure>
                    <p class="nomeProduto">Nome do Produto</p>
                    <p class="preco">
                        <span class="precoDe">De R$ 0,00</span>
                        <span class="precoPor">Por R$ 0,00</span>
                    </p>
                </div>
            </div>

            <div class="publicidade skyscrapper"><img src="http://www.placehold.it/150x400&text=publicidade" alt="" /></div>

        </aside>
        <div class="pagamento">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="secure"></div>
        </div>
    </div>

    <!--[/] #conteudoPrinc-->

    <div id="rodapeMet">

        <div class="topoRodape">
             <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="extras">
            <div class="contRodape">
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.boxShopping:even').addClass('marginR-20px');

        $('.itens').click(function(){
            $('.tiposEventos').slideToggle('slow');
        })

        var height = $(window).height();
        $('.tiposEventos').css('min-height',height - 80);

        $('#eventos').bxSlider();



        $("#listaCateorias ul").tinyscrollbar();



        var monteEvento = $('.tiposEventos');
        monteEvento.tinyscrollbar();

        $('.itens').click(function(){
            var heightTipoEvento = $(".viewport ul").height();
            $('.tiposEventos .viewport').css('height',heightTipoEvento);


            monteEvento.tinyscrollbar_update();
            return false;
        });

        //$(".tiposEventos ul").tinyscrollbar();


    })

</script>

</body>
</html>